$rev-background-color: #82009d;
$ref-background-color: #7f1b72;
$spa-background-color: #b759ef;
$ccv-background-color: #ff5513;
$ctm-background-color: #ff8d00;
$ppi-background-color: #ffc500;
$tii-background-color: #abd848;
$eic-background-color: #91b541;
$ie-background-color: #4cc981;
$ta-background-color: #48aeda;
$pra-background-color: #1d799f;
$rii-background-color: #48448a;
$comp-background-color: #ffaa70;
$nav-root-background-color: #42669b;
$highlight-color: #f46241;
$item-font-color: #fefdff;
